.chat-log {
    display: flex;
    flex-direction: column;
}

.themed.theme-light .chat-log.color-applied .chat-message.message {
    --color-text-primary: var(--color-dark-1);
    --color-text-secondary: var(--color-dark-2);
    --color-text-subtle: var(--color-dark-3);
    --color-background: rgba(255, 255, 255, 0.8);
    --color-blind-background: rgba(255, 255, 255, 0.6);
    --color-emote-background: rgba(255, 255, 255, 0.8);
    --color-whisper-background: rgba(240, 240, 240, 0.8);
    --dnd5e-color-card: #f8f4f1;
}

.themed.theme-dark .chat-log.color-applied .chat-message.message {
    --color-text-primary: white;
    --color-text-secondary: lightgrey;
    --color-text-subtle: grey;
    --color-background: rgba(11, 10, 19, 0.8);
    --color-blind-background: rgba(11, 10, 19, 0.6);
    --color-emote-background: rgba(25, 24, 30, 0.8);
    --color-whisper-background: rgba(32, 31, 38, 0.8);
    --dnd5e-color-card: #2c2b2d;
}

.chat-message.message {
    flex: none;
    font-size: var(--font-size);
    padding: 2px 8px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0 4px;
    transform: none!important;
}
.chat-log.color-applied .chat-message.message {
    background: var(--color-background);
    backdrop-filter: blur(4px);
}
.chat-message.message:not(.added) {
    padding: 4px 8px 2px 8px;
    margin-top: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.chat-message.message:has(+ .message:not(.added)),
.chat-message.message:last-child {
    padding: 2px 8px 8px 8px;
    margin-bottom: 4px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.chat-message.message:not(.added):not(:has(+ .message.added)) {
    padding: 4px 8px 8px 8px;
}
.chat-message.message.whisper {
    background: var(--color-whisper-background);
}
.chat-message.message .message-header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 5px;
    padding: 0;
    margin: 5px 0 8px 0;
    z-index: 1;
}
.chat-message.message .message-header .message-portrait {
    display: block;
    width: 36px;
    height: 36px;
    flex: none;
    margin: 0;
    border: 0;
    border-radius: 5px;
}
.chat-message.message .message-header h4 {
    flex: 1 1 auto;
    min-width: 0;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.chat-log.font-applied .chat-message.message h4 {
    font-family: var(--mingjo-bold), serif;
    font-size: calc(var(--font-size) + 2px);
    font-weight: 600;
    line-height: 20px;
}
.chat-log.color-applied .chat-message.message h4 {
    color: var(--color-text-primary);
}
.chat-message.message .message-header h4 .message-user {
    font-size: calc(var(--font-size) - 4px);
    line-height: 12px;
    /*color: #aaaaaa;*/
}
.chat-message.message .message-header .flavor-text,
.chat-message.message .message-header .whisper-to {
    flex: none;
    width: 100%;
    margin: 5px 0 0 0;
}
.chat-log.font-applied .chat-message.message .message-header .flavor-text,
.chat-log.font-applied .chat-message.message .message-header .whisper-to {
    font-size: calc(var(--font-size) - 2px);
}
.chat-log.color-applied .chat-message.message .message-header .flavor-text,
.chat-log.color-applied .chat-message.message .message-header .whisper-to {
    color: var(--color-text-subtle);
}
.chat-message.message .message-header .flavor-text p {
    margin: 0;
}
.chat-message.message .message-header .message-metadata {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    flex: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s;
    opacity: 0;
    z-index: 1;
}
.chat-log.font-applied .chat-message.message .message-header .message-metadata {
    font-family: var(--mingjo-regular), serif;
    font-size: calc(var(--font-size) - 4px);
}
.chat-log.color-applied .chat-message.message .message-header .message-metadata {
    color: var(--color-text-subtle);
}
.chat-message.message:hover .message-header .message-metadata:hover {
    opacity: 1;
}
.chat-message.message .message-header .message-metadata .hovertext {
    display: flex;
}
.chat-message.message .message-header .message-metadata .hovertext:before {
    display: none;
}
.chat-message.message .message-header .message-metadata .message-times {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
}
.chat-message.message .message-header .message-metadata .message-times time {
    height: 9px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.chat-log.font-applied .chat-message.message .message-header .message-metadata .message-times time {
    font-size: calc(var(--font-size) - 5px);
}
.chat-message.message .message-header .message-metadata .message-timestamp,
.chat-message.message .message-header .message-metadata .message-timestamps {
    white-space: nowrap;
    margin: 0;
}
.chat-message.message .message-header .message-metadata > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.chat-log.font-applied .chat-message.message .message-header .message-metadata > a {
    width: 20px;
    font-size: calc(var(--font-size) + 2px);
}
.chat-message.message .message-content {
    position: relative;
    padding: 0;
    margin: 0;
}
.chat-log.font-applied .chat-message.message .message-content {
    font-family: var(--gothic-regular), sans-serif;
    font-size: var(--font-size);
    text-indent: 0;
    line-height: 150%;
    word-break: break-all;
}
.chat-log.color-applied .chat-message.message .message-content {
    color: var(--color-text-secondary);
}

.chat-message.message.added {
}
.chat-message.message.added .message-header {
    flex: none;
    justify-content: flex-end;
    padding: 0;
    border: 0;
    margin: 0;
}
.chat-message.message.added .message-header:has(.flavor-text),
.chat-message.message.added .message-header:has(.whisper-to) {
    margin: 0 0 8px 0;
}
.chat-message.message.added .message-header img {
    display: none;
}
.chat-message.message.added .message-header h4 {
    display: none;
}
.chat-message.message.added .message-header .message-metadata {
    height: 18px;
}
.chat-message.message.added .message-content .chat-portrait-flexrow {
    display: none;
}

/*Description*/

.chat-message.message.description {
    padding: 8px!important;
    border: 0;
    text-align: center;
}
.chat-message.message.description .message-header {
    display: none;
}
.chat-message.message.description .message-content {
    display: flex;
    justify-content: center;
    font-style: italic;
}
.chat-log.font-applied .chat-message.message.description .message-content {
    font-family: var(--gothic-bold), sans-serif;
}
.chat-message.message.description .message-content img {
    max-width: 100%;
    margin: auto;
}

/*Turn*/

.chat-message.message.turn {
    height: 40px;
    padding: 0!important;
}
.chat-message.message.turn .message-header {
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
}
.chat-message.message.turn .message-header img {
    width: 40px;
    height: 40px;
    border-radius: 6px 0 0 6px;
}
.chat-message.message.turn .message-header .message-sender {
    text-align: center;
    padding: 0 40px 0 0;
    margin: 0;
    z-index: 1;
}
.chat-message.message.turn .message-header .message-sender span {
    display: none;
}
.chat-message.message.turn .message-header .message-metadata {
    height: 40px;
}
.chat-message.message.turn .message-content {
    display: none;
}

/* Context Menu */

.chat-message.message #context-menu {
    position: static;
    background: none;
    border: 0;
    border-radius: 0;
    margin: 5px 0 0 0;
    box-shadow: none;
}
.chat-log.font-applied .chat-message.message #context-menu {
    font-family: var(--gothic-regular), sans-serif;
    font-size: calc(var(--font-size) - 2px);
}
.chat-message.message #context-menu li.context-item {
    padding: 4px 8px;
    border: 0;
    margin: 0;
}
.chat-log.color-applied .chat-message.message #context-menu li.context-item {
    color: var(--color-text-subtle);
}
.chat-message.message #context-menu li.context-item:hover {
    border: 0;
}
.chat-log.color-applied .chat-message.message #context-menu li.context-item:hover {
    color: inherit;
}