/* Latin & Korean */
/* Sans-serif */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('../assets/fonts/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F, U+AC00-D7A3, U+1100-11FF;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('../assets/fonts/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F, U+AC00-D7A3, U+1100-11FF;
}
/* Serif */
@font-face{
    font-family:'DNFForgedBlade';
    src:url('../assets/fonts/DNFForgedBlade-Light.otf') format('opentype');
    font-style:normal;
    font-weight:500;
    unicode-range: U+0020-007F, U+AC00-D7A3, U+1100-11FF;
}
@font-face{
    font-family:'DNFForgedBladeBold';
    src:url('../assets/fonts/DNFForgedBlade-Bold.otf') format('opentype');
    font-style:normal;
    font-weight:700;
    unicode-range: U+0020-007F, U+AC00-D7A3, U+1100-11FF;
}

/* Japanese */
/* Sans-serif */
@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Hiragino Kaku Gothic ProN W3.otf') format('opentype');
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FFF;
}
@font-face {
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Hiragino Kaku Gothic ProN W6.otf') format('opentype');
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FFF;
}
/* Serif */
@font-face {
    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Hiragino Mincho ProN W3.otf') format('opentype');
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FFF;
}
@font-face {
    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Hiragino Mincho ProN W6.otf') format('opentype');
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FFF;
}

/* Cyrillic */
/* Sans-serif */
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/calibri-regular.ttf') format('truetype');
    unicode-range: U+0400-04FF;
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/calibri-regular.ttf') format('truetype');
    unicode-range: U+0400-04FF;
}
/* Serif */
@font-face{
    font-family:'Times New Roman';
    src:url('../assets/fonts/timesnrcyrmt.ttf') format('truetype');
    font-style:normal;
    font-weight:400;
    unicode-range: U+0400-04FF;
}
@font-face{
    font-family:'Times New Roman Bold';
    src:url('../assets/fonts/timesnrcyrmt_bold.ttf') format('truetype');
    font-style:normal;
    font-weight:700;
    unicode-range: U+0400-04FF;
}