@import "./actorControl.css";
@import "./chat.css";
@import "./chatEditor.css";
@import "./chatExporter.css";
@import "./fonts.css";
@import "./sidebar.css";
@import "./systems.css";
@import "./tooltip.css";
@import "./typingAlert.css";

body {
    --gothic-regular: 'NEXON Lv1 Gothic OTF', "Hiragino Kaku Gothic ProN", "Calibri", var(--font-sans), sans-serif;
    --gothic-bold: 'NEXON Lv1 Gothic OTF Bold', "Hiragino Kaku Gothic ProN", "Calibri", var(--font-sans), sans-serif;

    --mingjo-regular: "DNFForgedBlade", "Hiragino Mincho ProN", "Times New Roman", var(--font-serif), serif;
    --mingjo-bold: "DNFForgedBladeBold", "Hiragino Mincho ProN", "Times New Roman Bold", var(--font-serif), serif;

    --font-size: 14px;

    --radius: 5px;

    --sidebar-width: 300px;
    --sidebar-nav-width: 40px;
    --bottom-main-height: 50px;
    --bottom-sub-height: 30px;

    --max-height: 100vh;
}